.advantages {
    width: 320px;
}

.advantages__header--heading {
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    color: var(--dark);
}

.advantages__mood {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.71;
    text-align: center;
    color: var(--dark);
}

.advantages__description {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.71;
    text-align: center;
    color: var(--dark);
}

.advantages__header--heading {
    margin-top: 70px;
}
