.advantages__container {
    margin: 0 auto;
}

.advantages__header {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: @dark-color;
    margin: 0;
    padding: 0;
    margin-bottom: 100px; 
}

.advantages__mood {
    list-style: none;
    margin-bottom: 40px;
    padding-top: 100px;
}

.advantages__description {
    list-style: none;
    margin-bottom: 40px;
    padding-top: 100px;
}
.advantages__iphone {
    background-image: url("img/iphone-screen-3.png");
    width: 157px;
    height: 320px;
}

.advantages__iphone-tablet {
    display: none;
}

@media (min-width: @tablet-width) {
    .advantages__container {
        width: auto;
        display: flex;
       

    }
    .advantages__header {
        display: flex;
        justify-content: space-between;
        font-size: 40px;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: @dark-color;
    }
    .advantages__mood {
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: left;
        color: @black;
    }
    .advantages__description {
        font-size: 14px;
        font-weight: normal;
        letter-spacing: normal;
        text-align: left;
        color: @black;
    }
    .advantages__iphone img {
        display: none;
    }
    .advantages__iphone-tablet {
        background-image: url("img/iphone-screen-3-tablet@1x.png");
        width: 268px;
        height: 547px;
    }
}

