.applications-page {
    display: inline-block;
    background-color: @dark-color;
   
      
}

.applications-page_apple {
   margin-right: -200px;
}

.applications-page_android {
    margin-right: -200px;

}

@media (min-width: @tablet-width) {
    .applications-page {
        display: flex;
        justify-content: space-around;
        margin: auto;

    } 
}


