.applications-page {
    display: flex;
    min-width: 320px;
    background-color: @dark-color;
    margin-top: 220px; 
    margin-left: 10px;
    
    
}

.applications-page_apple {
   margin-right: -200px;
}

.applications-page_android {
    margin-right: -200px;

}


