.description {   
    width: 229px;
    font-size: 14px;
    font-weight: 300;
    color: @white-color;
    background-color: @dark-color;
    line-height: 1.71;
    text-align: center;
    
    
      
}
