.gallery-page {
    width: 241px;
    height: 74px;
}

 .gallery-page__text--content {
    font-size: 14px;
    font-weight: normal;
    line-height: 2.14;
    text-align: center;
    color: @dark;
 }