.main-nav {
    width: 320px;
    height: 252px;
    box-shadow: 0px 1px 0 0 var(--black-two), inset 0px 1px 0 0 rgba(255, 255, 255, 0.15);
    font-family: OpenSans, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;

}