.main-nav {
    display: flex;
    flex-direction: column;
    background-color: @dark-color;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.78;
    min-width: 320px;
    margin: 0 auto;
} 

.main-nav__list {
    margin: 0;
    padding: 0;
}

@media (min-width: @tablet-width) {
    .main-nav {
        width: auto;
        margin: 0;
    }
}

.main-nav__wrapper {
    display: flex;
    justify-content: center;
    width: 660px;
    margin: 0 auto;
}

.site-list__item {
    width: 570px;
    min-height: 63px;
    color: @white-color;
  }
 
@media (min-width: @desktop-width) {
    .main-nav__wrapper {
        width: 960px;
      }
      .site-list {
        width: 780px;
    }
}
