.page-main {
    min-width: 320px;
    margin: 0 auto;
      
    /* Временно для сетки */
    min-height: 784px;
    }
      

.page-main__iphone {
    padding-top: 33px;
    padding-bottom: 60px;
}

.btn__iphone {
    padding: 20px 39px;
    margin-right: 200px;
}