.page-main {
    display: flex;
    min-width: 320px;
    background-color: @dark-color;
}

.page-main__name {
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    text-align: center;
    color: @white-color;
    background-color: @dark-color;
    margin-right: 170px;
    margin-top: 51px;
    position: absolute;
    left: 70px;
}

.page-main__iphone {
    background-image: url(img/iphone-5-in-hand-png.png);
    width: 320px;
    height: auto;
    margin-right: 230px;
    margin-top: 100px;
    position: absolute;
    left: 20px;
     
}

.btn__iphone {
    width: 281px;
    height: 55px;
    padding: 20px 39px;
    border: 3px solid @white-color;
    border-radius: 30%;
}
