.page-header {
    display: flex;
    min-width: 320px;
    background-color: @dark-color;
}

.btn-header__close {
    width: 24px;
    height: 23px;
    padding: 20px;
    margin-left: auto;
    position: relative;
    right: 30px;
    margin-top: 5px;
   
}

@media (min-width: 320px) {
    .icon icon-mobile {
        justify-content: flex-start;
        padding: 20px;
    }
}

@media (min-width: 320px) {
    .icon icon-tablet {
        display: none;
    }
}


@media (min-width: @tablet-width) {
    .icon icon-tablet {
        height: 40px;
    }
}

@media (min-width: @tablet-width) {
    .icon icon-mobile {
        display: none;
    }
}






    




