.page-header {
    display: flex;
    min-width: 320px;
    background-color: @dark-color;
}
@media (max-width: 200px) {
    .page-header__logo {
        justify-content: flex-start;
        padding: 20px;
    }
}

@media (max-width: 200px) {
    .page-header__logo_2 {
        display: none;
    }
}

.btn-header__close {
    justify-content: flex-end;
    width: 24px;
    height: 23px;
    padding: 20px;
    margin-left: 150px;
    margin-top: 5px;
   
}



@media (min-width: @tablet-width) {
    .page-header__logo_2 {
        background-image: url("img/logotype-white-tablet-svg.svg");
        height: 40px;
    }
}

@media (min-width: @desktop-width) {
    .page-header__logo {
       
      }
    }


    




